.slider-staff.slider-staff2
    .slider-staff__block
        .slider-staff__box
            h3.card__title Образование
            .staff-swiper.swiper-container.staff-swiper-3   
                .swiper-wrapper.staff-swiper__wrapper
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 1994-1999г.г.
                            p Обучение в Томском Государственном Педагогическом Университете
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 2000-2002
                            p Обучение в резидентуре по клинической психологии НИИ им. 
                                |Бехтерева С.-Петербург. 
            .staff-button__box
                .staff-button-next.next-2  
                .staff-button-prev.prev-2
        .slider-staff__box
            h3.card__title Опыт работы
            .staff-swiper.swiper-container.staff-swiper-4  
                .swiper-wrapper.staff-swiper__wrapper
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 2000-2001
                            p Работа в Томской областной клинической психиатрической больнице.  
                                |Клинический диагност.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 2003-2011
                            p Тольяттинский психо-неврологический диспансер (детский дневной стационар)
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 2003-2012
                            p Работа в центре психотерапии и клинической психологии Эйдос. 
                                |Клинический психолог, в работе со взрослыми и с детьми. 
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 2021 г. - по н.в.
                            p По сей день я продолжаю свой профессиональный путь в Центре Генезис
            .staff-button__box
                .staff-button-next.nexts-2
                .staff-button-prev.prevs-2