.slider-staff
    .slider-staff__block
        .slider-staff__box
            h3.card__title Образование
            .staff-swiper.swiper-container.staff-swiper-1    
                .swiper-wrapper.staff-swiper__wrapper
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 1995-2000
                            p Самарский государственный медицинский, специальность - лечебное дело, квалификация - врач.
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 1995-2000
                            p Самарский государственный медицинский Университет, Тольяттинский городской наркологический
                                | диспансер Интернатура по психиатрии-наркологии, квалификация врач психиатр-нарколог
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 1985-1993 г.г.
                            p Самарский государственный медицинский, специальность - лечебное дело, квалификация - врач.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 1993-94 г.г.
                            p Самарский государственный медицинский Университет, Тольяттинский городской наркологический
                                | диспансер Интернатура по психиатрии-наркологии, 
                                |квалификация врач психиатр-нарколог.
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 1997 г.
                            p Институт повышения квалификации ФУ МБ и ЭП при МЗ РФ, г.Москва. Повышение квалификации по психиатрии-наркологии.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 2000 г. 
                            p НИИ психоневрологии им. Бехтерева, г.Санкт- Петербург. Специализация по психотерапии.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 2002 г.  
                            p НИИ психоневрологии им. Бехтерева, г.Санкт-Петербург. Повышение квалификации по психиатрии-наркологии.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 2005 г.
                            p Повышение квалификации по психотерапии.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 2007 г.
                            p Самарский государственный медицинский университет: повышение квалификации по психиатрии-наркологии.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 2011-12 г.г.
                            p Самарский государственный медицинский университет: повышение квалификации по психиатрии-наркологии, психотерапии.
            .staff-button__box
                .staff-button-next.next  
                .staff-button-prev.prev 
        .slider-staff__box
            h3.card__title Опыт работы
            .staff-swiper.swiper-container.staff-swiper-2  
                .swiper-wrapper.staff-swiper__wrapper
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 1993-1995 г.г.
                            p Наркологический диспансер г. Тольятти: врач психиатр-нарколог.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 1995-1997 г.г.
                            p Станция скорой медицинской помощи г. Тольятти: врач выездной бригады.
                    .swiper-slide.staff-swiper__slide 
                        .staff-swiper__content
                            h3 1998-2000 г.г.
                            p Фармацевтическая компания «Бофур Ипсен Интернасьональ»: медицинский представитель.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 1994-2001 г.г.
                            p Индивидуальная медицинская деятельность Врач психиатр-нарколог в частной практике.
                    .swiper-slide.staff-swiper__slide
                        .staff-swiper__content
                            h3 С 2002 г.
                            p Медико-Психологическая Практика “Генезис”. Руководитель центра, врач психиатр-нарколог, психотерапевт.
            .staff-button__box
                .staff-button-next.nexts
                .staff-button-prev.prevs