section.questions
    .container 
        h2.section__title Часто задаваемые вопросы
        .accordion
            .accordion__box
                input#ac-1(name="accordion-1" type="checkbox" checked)
                label(for="ac-1") Процедура вывода из запоя в Тольятти анонимная? Не хочу, чтобы кто-то знал о проблеме.
                    i
                article
                    p Да, все полностью анонимно. Мы не требуем от пациентов документов, 
                        | удостоверяющих личность. Не заносим информацию в базы учета лиц с алкогольной
                        | и наркотической зависимостью. Сохраняем конфиденциальные данные о выезде к пациенту
                        | и обслуживании обратившегося к нам человека.
            .accordion__box
                input#ac-2(name="accordion-1" type="checkbox")
                label(for="ac-2") Поможет ли одна процедура от длительного запоя? Какие гарантии?
                    i
                article
                    p Заказывая у нас услугу, вы можете рассчитывать, что: 
                        | вам станет легче буквально после первой процедуры вывода из запоя и стоить это будет совершенно недорого.
            .accordion__box
                input#ac-3(name="accordion-1" type="checkbox")
                label(for="ac-3") Возможно ли проведение процедуры в домашних условиях? Это безопасно?
                    i
                article
                    p Да, возможно. При визите врача вывод из запоя проводится в домашних условиях. 
                        | Наш нарколог сам приедет к вам, чтобы провести вывод из запоя на дому, 
                        |а также другие процедуры без необходимости нахождения в стационаре
                        | Заказывая у нас услугу, вы можете рассчитывать, что:
                        br
                        | К вам приедут специалисты с опытом работы более 10 лет;
                        br
                        |У врача будут при себе новейшее мобильное оборудование и препараты;
            .accordion__box
                input#ac-4(name="accordion-1" type="checkbox")
                label(for="ac-4") Возможен ли выход из запоя самостоятельно?
                    i
                article
                    p Самостоятельное выведение из запоя — это не выход, так как оно либо не дает должного результата, 
                        | либо вовсе усугубляет тяжесть состояния вплоть до тяжелых осложнений со 
                        |стороны центральной нервной системы и внутренних органов. Поэтому незамедлительное 
                        |обращение к наркологу поможет сохранить физическое и душевное здоровье или жизнь!
            .accordion__box
                input#ac-5(name="accordion-1" type="checkbox")
                label(for="ac-5") Нужно ли приобретать лекарства самому?
                    i
                article
                    p У врача будут при себе новейшее мобильное оборудование и препараты;
