section.questions
    .container 
        .accordion
            .accordion__box
                input#ac-1(name="accordion-1" type="checkbox" checked)
                label(for="ac-1") Заголовок
                    i
                article
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        |Laborum magnam impedit vero libero at. Similique quasi 
                        |tempora rem eaque dolore laudantium maiores pariatur accusantium, 
                        |obcaecati impedit neque placeat alias totam?
            .accordion__box
                input#ac-2(name="accordion-1" type="checkbox")
                label(for="ac-2") Заголовок
                    i
                article
                    p текст
            .accordion__box
                input#ac-3(name="accordion-1" type="checkbox")
                label(for="ac-3") Заголовок
                    i
                article
                    p текст
            .accordion__box
                input#ac-4(name="accordion-1" type="checkbox")
                label(for="ac-4") Заголовок
                    i
                article
                    p текст
            .accordion__box
                input#ac-5(name="accordion-1" type="checkbox")
                label(for="ac-5") Заголовок
                    i
                article
                    p текст
