section.specialists-staff
    article.specialists
        .container
            .specialists__content
                .specialists__photo.gradient-short
                    img(src="./wp-content/themes/genesis/assets/img/doctor-1.jpg" alt="Врач" width="314" height="472")
                    .specialists__experience Опыт работы более #[span.specialists__number 25] лет
                .specialists__info.specialists__info--staff
                    h3.specialists__name Андрей Геннадьевич Ткач
                    .specialists__position психотерапевт, психиатр-нарколог, руководитель Центра 
                        | психотерапии и наркологии «Генезис»
                    .specialists__data
                        p «С 1994 года более 5000 пациентов с моей помощью сумели излечиться от алкогольной 
                            | зависимости, пройти лечение от наркомании, отказаться от табакокурения, благодаря 
                            | чему улучшили свои семейные отношения, избавились от панической атаки, невроза, 
                            | депрессии и бессонницы.
                        p Не упускайте время - воспользуйтесь профессиональной помощью и пройдите кодирование от 
                            | алкоголизма с последующей реабилитацией от алкогольной зависимости и наркомании.»
                .specialists__lisences
                    .specialists__lisences__title Дипломы специалиста 
                        .slider-wrap 
                            .swiper-container.swiper-lisences--small-first
                                .swiper-wrapper
                                    .swiper-slide.slide-lisences--small
                                        img(src="./wp-content/themes/genesis/assets/img/license.jpg" alt="Лицензия" width="316" height="474")
                                    .swiper-slide.slide-lisences--small
                                        img(src="./wp-content/themes/genesis/assets/img/license.jpg" alt="Лицензия" width="316" height="474")
                                    .swiper-slide.slide-lisences--small
                                        img(src="./wp-content/themes/genesis/assets/img/license.jpg" alt="Лицензия" width="316" height="474")
                            .swiper-button-prev-lisences--small-first
                            .swiper-button-next-lisences--small-first
            include ./../../bem-blocks/slider-staff/slider-staff.pug
    article.specialists
        .container
            .specialists__content
                .specialists__photo.gradient-short
                    img(src="./wp-content/themes/genesis/assets/img/doctor-2.jpg" alt="Врач" width="314" height="472")
                    .specialists__experience Опыт работы более #[span.specialists__number 25] лет
                .specialists__info.specialists__info--staff
                    h3.specialists__name Королёва Екатерина Александровна
                    .specialists__position медицинский психолог
                    .specialists__data
                        p «Моя Психология… мой Мир…
                            | Встреча психолога и клиента – это погружение в особый мир другого человека, 
                            | где мы вместе ищем и находим, движемся вперед и приобретаем новый смысл, истину и отношения.
                        p Мир детства – это сказочная страна, в которой есть место превращениям, волшебству, 
                            | но иногда в этой сказке непросто даже взрослому человеку. Ребенок может не только дарить 
                            | легкую радость, но и учить Родителя трудной науке безусловной Любови! И если Родители 
                            | чувствительны к «погоде» в доме, трудностям своего Чада, но не владеют необходимыми 
                            | знаниями и инструментами, то всегда могут обратиться за помощью к специалисту-психологу, 
                            | вместе с которым смогут понять причины проблем, открыть путь преодоления и использовать 
                            | все необходимые внутренние ресурсы для изменений.
                        p Мир Взрослого не менее интересен и сложен. Через время, воспитание и личный опыт...»
                .specialists__lisences
                    .specialists__lisences__title Дипломы специалиста 
                        .slider-wrap 
                            .swiper-container.swiper-lisences--small-second
                                .swiper-wrapper
                                    .swiper-slide.slide-lisences--small
                                        img(src="./wp-content/themes/genesis/assets/img/license.jpg" alt="Лицензия" width="316" height="474")
                                    .swiper-slide.slide-lisences--small
                                        img(src="./wp-content/themes/genesis/assets/img/license.jpg" alt="Лицензия" width="316" height="474")
                                    .swiper-slide.slide-lisences--small
                                        img(src="./wp-content/themes/genesis/assets/img/license.jpg" alt="Лицензия" width="316" height="474")
                            .swiper-button-prev-lisences--small-second
                            .swiper-button-next-lisences--small-second
            .professional__experience
                .experience__title Профессиональный опыт:
                ul.experience__list.list-style 
                    li.experience__item диагностика интеллекта, мышления и эмоционально- волевой, личностной сферы;
                    li.experience__item диагностика и психотерапия детско-родительских отношений как в группе, так и индивидуально;
                    li.experience__item коррекционная работа в группе при нарушениях отношений со сверстниками;
                    li.experience__item коррекция поведения (конфликты, замкнутость, капризность, непослушание и др.);
                    li.experience__item диагностика и коррекция эмоциональных нарушений (страхи, агрессия, неустойчивость, тревожность и т.д.).
            include ./../../bem-blocks/slider-staff/slider-staff2.pug
