extends ./../layouts/main

block variables
    - let pageTitle = 'О центре';

block content
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-page
            .container 
                .banner-page__block
                    h1.main__title О нашем центре
                    p.list Клиника анонимного лечения алкоголизма Генезис является надёжным партнером, 
                        |опытным проводником в Ваш новый, здоровый, трезвый образ жизни!
        include ./../components/sections/about/about.pug
        include ./../components/sections/licenses/licenses.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug