extends ./../layouts/main

block variables
    - let pageTitle = 'Главная страница';
    - let youAreUsingPug = true;
    - let h1 = 'Главный заголовок';

block content
    .container
        include ./../components/bem-blocks/slider-staff/slider-staff.pug
        include ./../components/sections/questions/questions.pug