extends ./../layouts/main

block variables
    - let pageTitle = 'Центр наркологии и психотерапии в Тольятти';

block content
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner-home/banner-home.pug
        include ./../components/sections/about-us/about-us.pug
        include ./../components/sections/about-us-numbers/about-us-numbers.pug
        include ./../components/sections/services/services.pug
        include ./../components/sections/specialists/specialists.pug
        include ./../components/sections/form-upper/form-upper.pug
        include ./../components/sections/guarantees/guarantees.pug
        include ./../components/sections/licenses/licenses.pug
        include ./../components/sections/reviews/reviews.pug
        include ./../components/sections/treatment/treatment.pug
        include ./../components/sections/questions/questions.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug
        

