extends ./../layouts/main

block variables
    - let pageTitle = 'Лицензии';

block content
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner-page/banner-licenses.pug
        include ./../components/sections/licenses-blocks/licenses-blocks.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug