extends ./../layouts/main

block variables
    - let pageTitle = 'Расписание';

block content
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-page
            .container 
                .banner-page__block.banner-page__block-center
                    h1.main__title Правила внутреннего распорядка Центра наркологии и психотерапии «Генезис»
        include ./../components/sections/schedule/schedule.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug