extends ./../layouts/main

block variables
    - let pageTitle = 'Услуги';

block content
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner-page/banner-page2.pug
        include ./../components/sections/services-short/services-short.pug
        .container
            include ./../components/bem-blocks/guarantees/guarantees.pug
            include ./../components/bem-blocks/advantages/advantages.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug