extends ./../layouts/main

block variables
    - let pageTitle = 'Методы лечения';

block content
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-page
            .container 
                .banner-page__block
                    h1.main__title Методы лечения
                    p.list Центр наркологии «Генезис» в своей работе применяет различные методы лечения в зависимости 
                        |от индивидуальных особенностей человека, стадии болезни и личных 
                        |предпочтений пациента – на что он внутренне готов.
        include ./../components/sections/treatment-methods/treatment-methods.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug