.btn {
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 0.5rem;

    &--green {
        padding: 0.5rem 1.1rem;
        @include OpenSans-Regular();
        line-height: 2.2rem;
        color: $gray6;
        background: $green;
    }

    &--blue {
        position: relative;
        z-index: 1;
        padding: 1.6rem 2.7rem;
        @include OpenSans-Bold();
        line-height: 1.9rem;
        color: $white;
        background: $blue;
        background-color: transparent;
        transition: all .4s;

        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: .5rem;
            transition: all 0.4s;
        }
        
        &::after {
            width: 100%;
            background-color: $blue;
            z-index: -2;
        }

        &::before {
            width: 0;
            background-color: $green;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
            z-index: -1;
        }

        &:focus::before,
        &:hover::before,
        &:active::before {
            width: 100%;
            transition: all 0.4s;
        }

        &:active::before {
            box-shadow: none;
        }
    }
}
