/* MEDIA QUERIES */

@mixin media($min) {
    @media (min-width: $min) {
        @content;
    }
}

/* FONTS */

/* OpenSans */

@mixin OpenSans-Bold ($font-family: 'OpenSans-Bold', $font-weight: 700, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin OpenSans-BoldItalic ($font-family: 'OpenSans-BoldItalic', $font-weight: 700, $font-style: italic) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin OpenSans-Regular ($font-family: 'OpenSans-Regular', $font-weight: 400, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin OpenSans-Light ($font-family: 'OpenSans-Regular', $font-weight: 300, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

/* Raleway */

@mixin Raleway-Bold ($font-family: 'Raleway-Bold', $font-weight: 700, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin Raleway-Medium ($font-family: 'Raleway-Medium', $font-weight: 500, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin Raleway-Regular ($font-family: 'Raleway-Regular', $font-weight: 400, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin Raleway-Italic ($font-family: 'Raleway-Italic', $font-weight: 400, $font-style: italic) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}