/* COLORS */

$white: #fff;
$green: #009136;
$blue: #2e3a59;
$text: #61656f;
$gray1: #C4C4C4;
$gray2: #4f4f4f;
$gray3: #565b62;
$gray4: #727272;
$gray5: #828282;
$gray6: #f2f2f2;
$green-gradient: linear-gradient(139.88deg, #009136 1.67%, #2e3a59 100%);
$img-overay: linear-gradient(180deg, rgba(230, 230, 230, 0) 0%, rgba(220, 220, 220, 0.7) 100%);
