//- Scripts
script(defer src="./wp-content/themes/genesis/assets/js/swiper-bundle.min.js")
script(defer src="./wp-content/themes/genesis/assets/js/fslightbox.js")
script(defer src="./wp-content/themes/genesis/assets/js/main.js")
